.el-menu {
  border: 0px !important;
}
.el-menu--collapse .el-menu .el-submenu,
.el-menu--popup {
  min-width: 200px;
}
.el-dropdown-menu,
.el-menu--collapse .el-submenu .el-menu {
  z-index: 10;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.el-dropdown-menu__item--divided:before,
.el-menu,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.el-menu--horizontal > .el-submenu .el-submenu__title:hover {
  background-color: #fff;
}

.el-menu::after,
.el-menu::before,
.el-radio__inner::after,
.el-switch__core:after {
  content: "";
}

.el-menu {
  list-style: none;
  position: relative;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.0392156862745098);
  padding-left: 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.10196078431372549);
}
.el-menu::after,
.el-menu::before {
  display: table;
}
.el-menu::after {
  clear: both;
}
.el-menu.el-menu--horizontal {
  border-bottom: solid 1px #e6e6e6;
}
.el-menu--horizontal {
  border-right: none;
}
.el-menu--horizontal > .el-menu-item {
  float: left;
  height: 60px;
  line-height: 60px;
  margin: 0;
  border-bottom: 2px solid transparent;
  color: #909399;
}
.el-menu--horizontal > .el-menu-item a,
.el-menu--horizontal > .el-menu-item a:hover {
  color: inherit;
}
.el-menu--horizontal > .el-submenu {
  float: left;
}
.el-menu--horizontal > .el-submenu:focus,
.el-menu--horizontal > .el-submenu:hover {
  outline: 0;
}
.el-menu--horizontal > .el-submenu:focus .el-submenu__title,
.el-menu--horizontal > .el-submenu:hover .el-submenu__title {
  color: #303133;
}
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
  border-bottom: 2px solid #faad14;
  color: #303133;
}
.el-menu--horizontal > .el-submenu .el-submenu__title {
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid transparent;
  color: #909399;
}
.el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
  position: static;
  vertical-align: middle;
  margin-left: 8px;
  margin-top: -3px;
}
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  background-color: #fff;
  float: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  color: #909399;
}
.el-menu--horizontal .el-menu .el-menu-item.is-active,
.el-menu--horizontal .el-menu .el-submenu.is-active > .el-submenu__title {
  color: #303133;
}
.el-menu--horizontal .el-menu-item:not(.is-disabled):focus,
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  outline: 0;
  color: #303133;
}
.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 2px solid #faad14;
  color: #303133;
}
.el-menu--collapse {
  width: 64px;
}
.el-menu--collapse > .el-menu-item [class^=el-icon-],
.el-menu--collapse > .el-submenu > .el-submenu__title [class^=el-icon-] {
  margin: 0;
  vertical-align: middle;
  width: 24px;
  text-align: center;
}
.el-menu--collapse > .el-menu-item .el-submenu__icon-arrow,
.el-menu--collapse > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}
.el-menu--collapse > .el-menu-item span,
.el-menu--collapse > .el-submenu > .el-submenu__title span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
.el-menu--collapse > .el-menu-item.is-active i {
  color: inherit;
}
.el-menu--collapse .el-submenu {
  position: relative;
}
.el-menu--collapse .el-submenu .el-menu {
  position: absolute;
  margin-left: 5px;
  top: 0;
  left: 100%;
  border: 1px solid #e4e7ed;
  border-radius: 2px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.el-menu-item,
.el-submenu__title {
  height: 56px;
  line-height: 56px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  list-style: none;
}
.el-menu--collapse .el-submenu.is-opened
  > .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transform: none;
  transform: none;
}
.el-menu--popup {
  z-index: 100;
  border: none;
  padding: 5px 0;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.el-menu--popup-bottom-start {
  margin-top: 5px;
}
.el-menu--popup-right-start {
  margin-left: 5px;
  margin-right: 5px;
}
.el-menu-item {
  font-size: 14px;
  color: #303133;
  padding: 0 !important;
  cursor: pointer;
  -webkit-transition: border-color .3s, background-color .3s, color .3s;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: visible;
  min-height: 48px;
  max-height: 76px;
}
.el-menu-item * {
  vertical-align: middle;
}
.el-menu-item i {
  color: #909399;
}
.el-menu-item:focus,
.el-menu-item:hover {
  outline: 0;
  background-color: #fff7e8;
}
.el-menu-item.is-disabled {
  opacity: .25;
  cursor: not-allowed;
  background: 0 0 !important;
}
.el-menu-item [class^=el-icon-] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.el-menu-item.is-active {
}
.el-menu-item.is-active i {
  color: inherit;
}

.el-submenu .el-menu {
  border: none;
}
.el-submenu .el-menu-item {
  height: 50px;
  line-height: 50px;
  padding: 0 45px;
  min-width: 200px;
}

.el-submenu.is-disabled .el-menu-item,
.el-submenu.is-disabled .el-submenu__title {
  opacity: .25;
  cursor: not-allowed;
  background: 0 0 !important;
}
.el-submenu [class^=el-icon-] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}
.el-menu-item-group > ul {
  padding: 0;
}
.el-menu-item-group__title {
  padding: 7px 0 7px 20px;
  line-height: normal;
  font-size: 12px;
  color: #909399;
}

.el-submenu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.el-submenu__title {
  font-size: 14px;
  color: #303133;
  padding: 0 20px;
  cursor: pointer;
  -webkit-transition: border-color .3s, background-color .3s, color .3s;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
}
.el-submenu__title * {
  vertical-align: middle;
}
.el-submenu__title i {
  color: #909399;
}
.el-submenu__title:focus,
.el-submenu__title:hover {
  outline: 0;
  background-color: #fff7e8;
}
.el-submenu__title.is-disabled {
  opacity: .25;
  cursor: not-allowed;
  background: 0 0 !important;
}
.el-submenu__title:hover {
  background-color: #fff7e8;
}
.el-submenu__icon-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -7px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  font-size: 12px;
}
.el-submenu.is-active .el-submenu__title {
  border-bottom-color: #faad14;
}
.el-submenu.is-opened > .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.horizontal-collapse-transition .el-submenu__title .el-submenu__icon-arrow {
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0;
}

.menu-title {
  height: 1em;
  line-height: 2em;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.67);
}
